<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.aurei.quanyi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--免密登录-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
            android:name=".APP"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="${APP_NAME}"
            android:roundIcon="@drawable/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppStyle"
            tools:replace="android:theme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:theme="@style/SplashThem"
                android:name=".module.splash.SplashActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.login.LoginActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:hardwareAccelerated="false"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".module.web.WebViewActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".module.login.AutoLoginActivity"
                  android:screenOrientation="portrait"/>

        <activity
                android:name="cn.com.chinatelecom.account.sdk.ui.AuthActivity"
                android:exported="false"
                android:theme="@style/authActivityTheme"
                android:screenOrientation="portrait" />
        <activity
                android:name="cn.com.chinatelecom.account.sdk.ui.PrivacyWebviewActivity"
                android:exported="false"
                android:theme="@style/authActivityTheme"
                android:screenOrientation="portrait" />
    </application>

</manifest>